<!DOCTYPE html>
<html lang="ru" class="no-js">
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<script src="{{ asset('js/modernizr.js') }}"></script>
        <title>Студия Киреева-Журенко</title>
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('favicon/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('favicon/safari-pinned-tab.svg') }}" color="#1f27e3">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">
        <!-- Favicon end -->
        <!-- Facebook metadata -->
        <meta property="og:image" content="{{ asset('social-package/og-image.jpg') }}">
        <meta property="og:image:height" content="1257">
        <meta property="og:image:width" content="2400">
        <meta property="og:url" content="http://kizh.studio">
        <meta property="og:description" content="Агентство из двух человек, влюблённых в дизайн. Мы создаём айдентику, интерфейсы приложений и веб-сайты.">
        <meta property="og:title" content="Студия Киреева-Журенко">
        <!-- Facebook metadata end -->
        {% block stylesheets %}
            <link href="{{ asset('css/reset.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/rewrite.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/preloader.css') }}" rel="stylesheet" />
        {% endblock %}
        <script src="{{ asset('js/init.js') }}"></script>
    </head>
    <body>
        
        {% block body %}{% endblock %}
        {% block javascripts %}
			<script src="{{ asset('js/jquery-2.1.4.js') }}"></script>
			<script src="{{ asset('js/velocity.min.js') }}"></script>
			<script src="{{ asset('js/main.js') }}"></script>
            <script src="{{ asset('js/load-project.ajax.js') }}"></script>
            <script src="{{ asset('js/autosize.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
