<!DOCTYPE html>
<html lang="ru">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Разработка веб-сайтов любой сложности и тематики в соответствии с потребностями вашего бизнеса.">
    <meta name="author" content="Студия Киреева-Журенко">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('favicon/safari-pinned-tab.svg') }}" color="#1f27e3">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicon end -->

    <title>Заказать веб-сайт</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ asset('css/all.min.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/landing.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="{{ asset('img/landing/logo black.png') }}"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Услуги</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#advantages">Преимущества</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">О нас</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Студия Киреева-Журенко</div>
          <div class="intro-heading">Разработаем для вас веб-сайт любой сложности и&nbsp;тематики</div>
          <canvas></canvas>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#contact">Заказать</a>
        </div>
      </div>
    </header>

    <!-- Image Showcases -->
    <section id="services" class="showcase">
      <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Наши услуги</h2>
          </div>
        </div>
      <div class="container-fluid p-0">
        <div class="row no-gutters" data-aos="fade-up">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{{ asset('img/landing/services-landing.jpg') }} ');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Разработка одностраничных сайтов (landing-page)</h2>
            <p class="lead mb-0">Создание эффективной продающей страницы для товара или услуги.</p>
          </div>
        </div>
        <div class="row no-gutters" data-aos="fade-up">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('{{ asset('img/landing/services-visit.jpg') }} ');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Создание сайта-визитки</h2>
            <p class="lead mb-0">Многостраничный сайт с информацией о компании, её товарах/услугах, контактными данными.</p>
          </div>
        </div>
        <div class="row no-gutters" data-aos="fade-up">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{{ asset('img/landing/services-shop.jpg') }} ');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Разработка интернет-магазина</h2>
            <p class="lead mb-0">Сайт-магазин с каталогом товаров, удобным фильтром, ориентрованный на продажу через интернет.</p>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Services -->
    <section id="advantages">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Почему мы</h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4" data-aos="fade-up">
            <span class="fa-stack fa-4x">
              <i class="fas fa-bolt"></i>
            </span>
            <h4 class="service-heading">Эффективность</h4>
            <p class="text-muted">Наши дизайн-решения нацелены на повышение показателей вашего бизнеса – увеличение продаж, узнаваемости и эмоционального отклика потребителя.</p>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="50">
            <span class="fa-stack fa-4x">
              <i class="fas fa-gift"></i>
            </span>
            <h4 class="service-heading">Эксклюзивность решения</h4>
            <p class="text-muted">Прежде, чем приступить к реализации проекта, мы изучаем специфику вашего бизнеса и отражаем её в дизайне.</p>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
            <span class="fa-stack fa-4x">
              <i class="fas fa-clock"></i>
            </span>
            <h4 class="service-heading">Честные сроки</h4>
            <p class="text-muted">До начала работ мы просчитываем и согласовываем с вами сроки выполнения.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Наша команда</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4" data-aos="fade-up">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ asset('img/landing/team/1.jpg') }}" alt="">
              <h4>Николай</h4>
              <p class="text-muted">Ведущий дизайнер</p>
            </div>
          </div>
          <div class="col-sm-4" data-aos="fade-up" data-aos-delay="50">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ asset('img/landing/team/2.jpg') }}" alt="">
              <h4>Владислав</h4>
              <p class="text-muted">Арт-директор</p>
            </div>
          </div>
          <div class="col-sm-4" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ asset('img/landing/team/3.jpg') }}" alt="">
              <h4>Ярослав</h4>
              <p class="text-muted">Senior Developer</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="contact-section bg-black">
      <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading closer-heading">Свяжитесь с нами удобным способом</h2>
          </div>
        </div>
      <div class="container text-center">
        <div class="messenger-container row">
          <div class="messenger-three col-lg-12">
            <a class="social-link rounded-circle text-white mr-3" title="WhatsApp" href="https://api.whatsapp.com/send?phone=380677180799"><img class="messenger-img" src="{{ asset('img/landing/whatsapp.svg') }}"></a>
          
            <a class="social-link rounded-circle text-white mr-3" title="Telegram" href="tg://resolve?domain=dumap1k"><img class="messenger-img telegram-icon" src="{{ asset('img/landing/telegram.svg') }}"></a>
          
            <a class="social-link rounded-circle text-white mr-3" title="Viber" href="viber://add?number=+380677180799"><img class="messenger-img" src="{{ asset('img/landing/viber.svg') }}"></a>
          </div>
          <div class="messenger-three col-lg-12">
            <a class="social-link rounded-circle text-white mr-3" title="Skype" href="skype:hq-info?chat"><img class="messenger-img" src="{{ asset('img/landing/skype.svg') }}"></a>
          
            <a class="social-link rounded-circle text-white mr-3" title="Email" href="mailto:kizh.studio@gmail.com"><img class="messenger-img" src="{{ asset('img/landing/mail.svg') }}"></a>
          
            <a class="social-link rounded-circle text-white mr-3" title="Phone" href="tel:+380677180799"><img class="messenger-img" src="{{ asset('img/landing/tel.svg') }}"></a>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading closer-heading">Сделать заказ</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate>
              <div class="row contact-center">
                <div class="col-md-6" >
                  <div class="form-group">
                    <input class="form-control" id="name" type="text" placeholder="Имя*" required data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="phone" type="tel" placeholder="Телефон*" required data-validation-required-message="Please enter your phone number.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <input id="formInfo" name="formInfo" class="formInfo" type="hidden" value="web-form" title="web-form"/>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Отправить</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span class="copyright">Студия Киреева-Журенко &copy; 2018</span>
          </div>
        </div>
      </div>
    </footer>
  
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('js/jquery-2.1.4.js') }}"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ asset('js/jquery.easing.min.js') }}"></script>

    <!-- Contact form JavaScript -->
    <script src="{{ asset('js/jqBootstrapValidation.js') }}"></script>
    <script src="{{ asset('js/contact_me.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ asset('js/landing.min.js') }}"></script>
    <script src="{{ asset('js/canvas.js') }}"></script>

  </body>

</html>
